:root.theme-dark {
  --accent-color: #ff0070;
  --main-bg-color: #000028;
  --main-text-color: #f1b2ce;
  --title-color: #db00ff;
  --nav-color: #ff0070;
  --nav-color-hover: rgba(255, 0, 112, 0.4);
  --nav-color-focus: #ff0070;
  --page-background-image: url("../images/cover-image-dark.png");
}

.theme-dark .header__rec {
  display: block;
}

.theme-dark .text-link:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.theme-dark .text-link:focus {
  outline: 1px solid var(--main-text-color);
}