/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #ff0070;
  --main-bg-color: #000028;
  --main-text-color: #f1b2ce;
  --title-color: #db00ff;
  --nav-color: #ff0070;
  --page-background-image: url("../images/cover-image-dark.png");
}

.text-link:hover {
  border-bottom: 1px solid var(--hover-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--nav-color);
}

.text-link:focus {
  outline: 1px solid var(--focus-color);
}

.header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.4);
}

.header__theme-menu-button:focus {
  border-block-end-color: var(--focus-color);
}
