:root.theme-light {
  --accent-color: #ff8dcb;
  --main-bg-color: #fff1f7;
  --main-text-color: #353430;
  --title-color: #ffc2e6;
  --nav-color: #353430;
  --nav-color-hover: rgba(53, 52, 48, 0.4);
  --nav-color-focus: #353430;
  --link-hover: #353430;
  --link-focus: #353430;
  --page-background-image: url("../images/cover-image-light.png");
  --footer-shadow: #ff0070;
}

.theme-light .header__rec {
  display: none;
}

.theme-light .text-block__content {
  color: var(--main-text-color);
}

.theme-light .content-section__title {
  color: var(--accent-color);
}

.theme-light .header__theme-menu-button {
  color: var(--nav-color);
}

.theme-light .gallery__title,
.theme-light .text-block__title,
.theme-light .header__description {
  color: var(--main-bg-color);
  background-color: var(--accent-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --main-bg-color: #fff1f7;
    --main-text-color: #353430;
    --title-color: #ffc2e6;
    --nav-color: #353430;
    --nav-color-hover: rgba(53, 52, 48, 0.4);
    --nav-color-focus: #353430;
    --link-hover: #353430;
    --link-focus: #353430;
    --footer-shadow: #ff0070;
    --page-background-image: url("../images/cover-image-light.png");
  }

  .header__rec {
    display: none;
  }

  .text-block__content {
    color: var(--main-text-color);
  }

  .content-section__title {
    color: var(--accent-color);
  }

  .header__theme-menu-button {
    color: var(--nav-color);
  }

  .gallery__title,
  .text-block__title,
  .header__description {
    color: var(--main-bg-color);
    background-color: var(--accent-color);
  }
}
