:root.theme-light {
  --accent-color: #ff8dcb;
  --main-bg-color: #fff1f7;
  --main-text-color: #353430;
  --title-color: #ffc2e6;
  --nav-color: #353430;
  --page-background-image: url("../images/cover-image-light.png");
}

.theme-light .header__rec {
  display: none;
}

.theme-light .text-link:hover {
  border-bottom: 1px solid #353430;
}

.theme-light .text-link:focus {
  outline: 1px solid #353430;
}

.theme-light .header__theme-menu-button:hover {
  border: 1px solid rgba(50, 49, 45, 0.4);
}

.theme-light .text-block__content,
.theme-light .content-section__title,
.theme-light .header__theme-menu-button,
.theme-light .gallery__title,
.theme-light .text-block__title,
.theme-light .header__description {
  color: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --main-bg-color: #fff1f7;
    --main-text-color: #353430;
    --title-color: #ffc2e6;
    --nav-color: #353430;
    --page-background-image: url("../images/cover-image-light.png");
  }

  .header__rec {
    display: none;
  }

  .header__theme-menu-button:hover {
    border: 1px solid rgba(50, 49, 45, 0.4);
  }

  .text-block__content,
  .content-section__title,
  .header__theme-menu-button,
  .gallery__title,
  .text-block__title,
  .header__description {
    color: #353430;
  }
}
