:root.theme-light {
  --accent-color: #ff8dcb;
  --main-bg-color: #fff1f7;
  --main-text-color: #353430;
  --main-title-color: #353430;
  --title-color: #ffc2e6;
  --nav-color: #353430;
  --nav-color-hover: rgba(53, 52, 48, 0.4);
  --nav-color-focus: #353430;
  --link-hover: #353430;
  --link-focus: #353430;
  --page-background-image: url("../images/cover-image-light.png");
  --heading-shadow: #ff0070;
}

.theme-light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --main-bg-color: #fff1f7;
    --main-text-color: #353430;
    --main-title-color: #353430;
    --title-color: #ffc2e6;
    --nav-color: #353430;
    --nav-color-hover: rgba(53, 52, 48, 0.4);
    --nav-color-focus: #353430;
    --link-hover: #353430;
    --link-focus: #353430;
    --heading-shadow: #ff0070;
    --page-background-image: url("../images/cover-image-light.png");
  }

  .header__rec {
    display: none;
  }
}
