@font-face {
  font-family: "IBM Plex Mono";
  src: url("../fonts/IBMPlexMono-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("../fonts/IBMPlexMono-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

.page {
  background-image: var(--page-background-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: var(--main-bg-color);
}

.header {
  padding-inline: var(--main-gap);
}

.decorated-zone {
  height: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  position: relative;
}

.header__theme-menu {
  display: grid;
  align-items: center;
  justify-items: end;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
  margin-top: 8px;
}

.header__theme-menu-button {
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: var(--main-text-size);
  line-height: 1;
  text-align: center;
  color: var(--nav-color);
  background: transparent;
  border: 1px solid transparent;
  text-transform: lowercase;
  height: 26px;
  width: 70px;
}

.header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.4);
}

.header__theme-menu-button:focus {
  border-block-end-color: var(--accent-color);
  outline: none;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
}

.header__rec {
  position: absolute;
  color: var(--nav-color);
  font-size: var(--main-text-size);
  line-height: var(--main-line-height);
  text-transform: uppercase;
  inset-inline-end: calc(var(--main-gap) + 28px);
  inset-block-start: calc(var(--main-gap) + 2px);
  font-weight: 400;
  font-family: "IBM Plex Mono";
}

.header__rec::after {
  content: "";
  position: absolute;
  inline-size: 10px;
  block-size: 10px;
  margin: -5px -20px 0 0;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--nav-color);
  background-color: var(--nav-color);
  inset-inline-end: 0;
  inset-block-start: 50%;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--nav-color);
  border-block-start: 1px solid var(--nav-color);
  inset-inline-end: var(--main-gap);
  inset-block-start: var(--main-gap);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--nav-color);
  border-block-end: 1px solid var(--nav-color);
  inset-inline-start: var(--main-gap);
  inset-block-end: var(--main-gap);
}

.heading {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-family: "IBM Plex Mono";
  font-weight: 700;
  line-height: 82%;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__description {
  font-family: "IBM Plex Mono";
  font-weight: 700;
  font-size: var(--main-text-size);
  line-height: var(--main-line-height);
  color: var(--main-bg-color);
  background-color: var(--accent-color);
  min-block-size: 117px;
  max-inline-size: 355px;
  align-self: center;
  justify-self: end;
  width: fit-content;
  margin-block-end: 8px;
}

.content {
  display: grid;
  gap: 50px;
  padding-inline: var(--main-gap);
  padding-block: var(--content-margin) 50px;
  background-color: var(--main-bg-color);
}

.content-section__title {
  font-family: "IBM Plex Mono";
  font-weight: 700;
  font-size: var(--main-text-size);
  line-height: var(--main-line-height);
  color: var(--accent-color);
  margin-bottom: 20px;
}

.text-block__title {
  background-color: var(--accent-color);
  color: var(--main-bg-color);
  font-family: "IBM Plex Mono";
  font-weight: 700;
  font-size: var(--main-text-size);
  line-height: var(--main-line-height);
  margin-bottom: 0;
  margin-top: 20px;
}

.text-block__title.position_bottom {
  margin-top: 0;
  margin-bottom: 0;
}

.text-block__subtitle {
  background-color: var(--accent-color);
  color: var(--main-bg-color);
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: var(--main-text-size);
  line-height: var(--main-line-height);
  margin-top: 20px;
}

.text-block {
  display: grid;
}

.text-block__content {
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: var(--main-text-size);
  line-height: var(--main-line-height);
  color: var(--main-text-color);
  margin-top: 10px;
}

.text-link {
  text-decoration-line: none;
  color: var(--main-text-color);
  text-shadow: 2px 2px 0 var(--accent-color);
}

.text-link:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.text-link:focus {
  outline: 1px solid var(--main-text-color);
}

.gallery {
  background-color: var(--main-bg-color);
  padding-inline: var(--main-gap);
  padding-block: 0 var(--content-margin);
}

.gallery__container {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
}

.gallery__title {
  background-color: var(--accent-color);
  font-family: "IBM Plex Mono";
  font-weight: 700;
  font-size: var(--main-text-size);
  line-height: var(--main-line-height);
  color: var(--main-bg-color);
  margin-bottom: 10px;
}

.gallery__picture {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}

.footer {
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: var(--main-bg-color);
  grid-template-rows: 1fr;
}

.footer__title {
  font-family: "IBM Plex Mono";
  font-weight: 700;
  font-size: 116px;
  line-height: 82%;
  color: var(--title-color);
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >= 768px) {
  .heading {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    position: relative;
    inset-inline-start: calc(-1 * 20px);
  }
  .content-section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }
  .decorated-zone {
    min-height: 1024px;
    padding-inline: 20px;
  }
  .header__theme-menu-list {
    margin-top: 20px;
  }
  .header__description {
    position: relative;
    inset-block-start: calc(-1 * var(--main-gap));
    max-inline-size: 364px;
    margin-block-start: 28px;
  }
  .content {
    padding-block: 60px 80px;
    gap: 80px;
    padding-inline: 20px;
  }
  .causes {
    display: grid;
    grid-template-columns: 1fr;
  }
  .content-section__title {
    max-width: 236px;
    margin-bottom: 0;
  }
  .gallery {
    padding-block-end: 60px;
  }
  .gallery__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 20px;
    grid-template-areas:
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street"
      "tape street street";
  }
  .sunset {
    grid-area: sunset;
  }
  .ice-cream {
    grid-area: ice-cream;
  }
  .tape {
    grid-area: tape;
  }
  .books {
    grid-area: books;
  }
  .street {
    grid-area: street;
  }
  .gallery__title {
    margin-bottom: 20px;
  }
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    display: flex;
    align-items: start;
    justify-content: center;
  }

  .header__theme-menu-list {
    display: flex;
    gap: 10px;
  }

  .decorated-zone {
    min-height: 768px;
  }

  .heading {
    position: relative;
    inset-inline-start: calc(-1 * var(--main-gap));
  }
  .header__description {
    max-block-size: 71px;
    max-inline-size: 491px;
    min-block-size: auto;
  }
  .content-section {
    gap: 0;
  }
  .content-section__title {
    width: 314px;
    max-width: none;
  }

  .causes .text-blocks {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    align-items: baseline;
  }
}
